body{
    background-color:aqua;
    color:blueviolet
    
}
header{
    background-color: brown;
    color:darkblue;

}
main{
    background-color: chartreuse;
}
footer{
    background-color: cornflowerblue;
}