body{
    background-color:aqua;
    color:rgb(88, 5, 5);
    font-family: arial,sans-serif;
    margin: 0;
}
header{
    background-color: brown;
    color:darkblue;
    text-align: center;
    padding: 30px;

}
h1 {
    font-size: 36px;