body{
    background-color:aqua;
    color:rgb(88, 5, 5);
    font-family: arial,sans-serif;
}
header{
    background-color: brown;
    color:darkblue;
    text-align: center;
    padding: 30px;

}
main{
    background-color: chartreuse;
}
footer{
    background-color: cornflowerblue;
}